{% assign content = include.content %}
{% assign h1_open_start = content | split: "<h1" %}
{% assign toc_texts = '' | split: '' %}
{% assign toc_types = '' | split: '' %}
{% assign toc_ids = '' | split: '' %}

{% for h1_possible_open in h1_open_start %}
		{% assign first_char = h1_possible_open | slice: 1,2 %}
		{% if first_char == "id" %}
				{% assign h1_text_start = h1_possible_open | split: ">" %}
				{% assign h1_text = h1_text_start[1] | split: "</h1" | first %}
				{% assign h1_id = h1_text_start[0] | split: '"' | last %}
				{% assign toc_texts = toc_texts | push: h1_text %}
				{% assign toc_types = toc_types | push: "h1" %}
				{% assign toc_ids = toc_ids | push: h1_id %}

				{% assign h2_open_start = h1_possible_open | split: "<h2" %}
				{% for h2_possible_open in h2_open_start %}
						{% assign first_char = h2_possible_open | slice: 1,2 %}
						{% if first_char == "id" %}
								{% assign index = forloop.index %}
								{% if index > 1 %}
									{% assign h2_text_start = h2_possible_open | split: ">" %}
									{% assign h2_text = h2_text_start[1] | split: "</h2" | first %}
									{% assign h2_id = h2_text_start[0] | split: '"' | last %}
									{% assign toc_texts = toc_texts | push: h2_text %}
									{% assign toc_types = toc_types | push: "h2" %}
									{% assign toc_ids = toc_ids | push: h2_id %}
								{% endif %}
						{% endif %}
				{% endfor %}
		{% endif %}
{% endfor %}

{% if toc_ids.size > 0 %}
				{% for title in toc_texts %}
						{% assign index = forloop.index | minus: 1 %}
						{% assign next = index | plus: 1 %}
						{% if toc_types[index] == "h1" %}
<details><summary><b>
								{% if toc_types[next] == "h1" %}
<a class="heading" href="#{{ toc_ids[index] }}">{{ title }}</a><a class="link" href="#{{ toc_ids[index] }}"></a></b></summary></details>
								{% else %}
{{ title }}<a class="link" href="#{{ toc_ids[index] }}"></a></b></summary><ul>
								{% endif %}
						{% else %}
<li><a href="#{{ toc_ids[index] }}">{{ title }}</a></li>
								{% if toc_types[next] == "h1" %}
</ul></details>
								{% endif %}
						{% endif %}
				{% endfor %}
<details><summary><b><a class="heading" href="#afterword">Afterword</a><a class="link" href="#afterword"></a></b></summary></details>
{% endif %}
