				<details><summary><b><a class="heading" href="#foreword">Foreword</a><a class="link" href="#foreward"></a></b></summary></details>
				<details><summary><b>Subshells</b><a class="link" href="#subshells"></a></summary>
					<ul>
						<li><a href="#what-is-a-subshell">What is a subshell?</a></li>
						<li><a href="#parentheses-and-curly-braces">Parentheses and Curly Braces</a></li>
						<li><a href="#command-substitution">Command Substitution</a></li>
						<li><a href="#explicit-subshell-invocation">Explicit subshell invocation</a></li>
					</ul>
				</details>
				<details><summary><b>Variables</b><a class="link" href="#variables"></a></summary>
					<ul>
						<li><a href="#scoping">Scoping</a></li>
						<li><a href="#multiple-assignment">Multiple Assignment</a></li>
						<li><a href="#assign-and-access-a-variable-using-a-variable">Assign and access a variable using a variable</a></li>
						<li><a href="#name-a-variable-based-on-another-variable">Name a variable based on another variable</a></li>
					</ul>
				</details>
				<details><summary><b><a class="heading" href="#special-characters">Special Characters</a><a class="link" href="#special-characters"></a></b></summary></details>
				<details>
				<summary><b>Strings</b><a class="link" href="#strings"></a></summary>
					<ul>
						<li><a href="#trim-leading-and-trailing-white-space-from-string">Trim leading and trailing white-space from string</a></li>
						<li><a href="#trim-all-white-space-from-string-and-truncate-spaces">Trim all white-space from string and truncate spaces</a></li>
						<li><a href="#use-regex-on-a-string">Use regex on a string</a></li>
						<li><a href="#split-a-string-on-a-delimiter">Split a string on a delimiter</a></li>
						<li><a href="#change-a-string-to-lowercase">Change a string to lowercase</a></li>
						<li><a href="#change-a-string-to-uppercase">Change a string to uppercase</a></li>
						<li><a href="#reverse-a-string-case">Reverse a string case</a></li>
						<li><a href="#trim-quotes-from-a-string">Trim quotes from a string</a></li>
						<li><a href="#strip-all-instances-of-pattern-from-string">Strip all instances of pattern from string</a></li>
						<li><a href="#strip-first-occurrence-of-pattern-from-string">Strip first occurrence of pattern from string</a></li>
						<li><a href="#strip-pattern-from-start-of-string">Strip pattern from start of string</a></li>
						<li><a href="#strip-pattern-from-end-of-string">Strip pattern from end of string</a></li>
						<li><a href="#percent-encode-a-string">Percent-encode a string</a></li>
						<li><a href="#decode-a-percent-encoded-string">Decode a percent-encoded string</a></li>
						<li><a href="#check-if-string-contains-a-sub-string">Check if string contains a sub-string</a></li>
						<li><a href="#check-if-string-starts-with-sub-string">Check if string starts with sub-string</a></li>
						<li><a href="#check-if-string-ends-with-sub-string">Check if string ends with sub-string</a></li>
					</ul>
				</details>
				<details><summary><b>Arrays</b><a class="link" href="#arrays"></a></summary>
					<ul>
						<li><a href="#reverse-an-array">Reverse an array</a></li>
						<li><a href="#remove-duplicate-array-elements">Remove duplicate array elements</a></li>
						<li><a href="#random-array-element">Random array element</a></li>
						<li><a href="#cycle-through-an-array">Cycle through an array</a></li>
						<li><a href="#toggle-between-two-values">Toggle between two values</a></li>
					</ul>
				</details>
			<details><summary><b>Loops</b><a class="link" href="#loops"></a></summary>
					<ul>
						<li><a href="#loop-over-a-range-of-numbers">Loop over a range of numbers</a></li>
						<li><a href="#loop-over-a-variable-range-of-numbers">Loop over a variable range of numbers</a></li>
						<li><a href="#loop-over-an-array">Loop over an array</a></li>
						<li><a href="#loop-over-an-array-with-an-index">Loop over an array with an index</a></li>
						<li><a href="#loop-over-the-contents-of-a-file">Loop over the contents of a file</a></li>
						<li><a href="#loop-over-files-and-directories">Loop over files and directories</a></li>
					</ul>
				</details>
			<details><summary><b>File Handling</b><a class="link" href="#file-handling"></a></summary>
					<ul>
						<li><a href="#read-a-file-to-a-string">Read a file to a string</a></li>
						<li><a href="#read-a-file-to-an-array-by-line">Read a file to an array (<em>by line</em>)</a></li>
						<li><a href="#get-the-first-n-lines-of-a-file">Get the first N lines of a file</a></li>
						<li><a href="#get-the-last-n-lines-of-a-file">Get the last N lines of a file</a></li>
						<li><a href="#get-the-number-of-lines-in-a-file">Get the number of lines in a file</a></li>
						<li><a href="#count-files-or-directories-in-directory">Count files or directories in directory</a></li>
						<li><a href="#create-an-empty-file">Create an empty file</a></li>
						<li><a href="#extract-lines-between-two-markers">Extract lines between two markers</a></li>
					</ul>
				</details>
			<details><summary><b>File Paths</b><a class="link" href="#file-paths"></a></summary>
					<ul>
						<li><a href="#get-the-directory-name-of-a-file-path">Get the directory name of a file path</a></li>
						<li><a href="#get-the-base-name-of-a-file-path">Get the base-name of a file path</a></li>
					</ul>
				</details>
			<details><summary><b>Escape Sequences</b><a class="link" href="#escape-sequences"></a></summary>
					<ul>
						<li><a href="#text-colors">Text Colors</a></li>
						<li><a href="#text-attributes">Text Attributes</a></li>
						<li><a href="#cursor-movement">Cursor Movement</a></li>
						<li><a href="#erasing-text">Erasing Text</a></li>
					</ul>
				</details>
			<details><summary><b>Parameter Expansion</b><a class="link" href="#parameter-expansion"></a></summary>
					<ul>
						<li><a href="#indirection">Indirection</a></li>
						<li><a href="#replacement">Replacement</a></li>
						<li><a href="#length">Length</a></li>
						<li><a href="#expansion">Expansion</a></li>
						<li><a href="#case-modification">Case Modification</a></li>
						<li><a href="#default-value">Default Value</a></li>
					</ul>
				</details>
			<details><summary><b>Brace Expansion</b><a class="link" href="#brace-expansion"></a></summary>
					<ul>
						<li><a href="#ranges">Ranges</a></li>
						<li><a href="#string-lists">String Lists</a></li>
					</ul>
				</details>
			<details><summary><b>Conditional Expressions</b><a class="link" href="#conditional-expressions"></a></summary>
					<ul>
						<li><a href="#file-conditionals">File Conditionals</a></li>
						<li><a href="#file-comparisons">File Comparisons</a></li>
						<li><a href="#variable-conditionals">Variable Conditionals</a></li>
						<li><a href="#variable-comparisons">Variable Comparisons</a></li>
					</ul>
				</details>
			<details><summary><b>Arithmetic Operators</b><a class="link" href="#arithmetic-operators"></a></summary>
					<ul>
						<li><a href="#assignment">Assignment</a></li>
						<li><a href="#arithmetic">Arithmetic</a></li>
						<li><a href="#bitwise">Bitwise</a></li>
						<li><a href="#logical">Logical</a></li>
						<li><a href="#miscellaneous">Miscellaneous</a></li>
					</ul>
				</details>
			<details><summary><b>Arithmetic</b><a class="link" href="#arithmetic-1"></a></summary>
					<ul>
						<li><a href="#simpler-syntax-to-set-variables">Simpler syntax to set variables</a></li>
						<li><a href="#ternary-tests">Ternary Tests</a></li>
					</ul>
				</details>
			<details><summary><b>Traps</b><a class="link" href="#traps"></a></summary>
					<ul>
						<li><a href="#do-something-on-script-exit">On script exit</a></li>
						<li><a href="#ignore-terminal-interrupt-ctrlc-sigint">Ignoring interrupts (CTRL+C, SIGINT)</a></li>
						<li><a href="#react-to-window-resize">React to window resize</a></li>
						<li><a href="#do-something-before-every-command">Pre-command execution</a></li>
						<li><a href="#do-something-when-a-shell-function-or-a-sourced-file-finishes-executing">On funcion or source completion</a></li>
					</ul>
				</details>
			<details><summary><b>Performance</b><a class="link" href="#performance"></a></summary>
					<ul>
						<li><a href="#disable-unicode">Disable Unicode</a></li>
					</ul>
				</details>
			<details><summary><b>Obsolete Syntax</b><a class="link" href="#obsolete-syntax"></a></summary>
					<ul>
						<li><a href="#shebang">Shebang</a></li>
						<li><a href="#command-substitution">Command Substitution</a></li>
						<li><a href="#function-declaration">Function Declaration</a></li>
					</ul>
				</details>
			<details><summary><b>Internal Variables</b><a class="link" href="#internal-variables"></a></summary>
					<ul>
						<li><a href="#get-the-location-to-the-bash-binary">Get the location to the <kbd>bash</kbd> binary</a></li>
						<li><a href="#get-the-version-of-the-current-running-bash-process">Get the version of the current running <kbd>bash</kbd> process</a></li>
						<li><a href="#open-the-users-preferred-text-editor">Open the user’s preferred text editor</a></li>
						<li><a href="#get-the-name-of-the-current-function">Get the name of the current function</a></li>
						<li><a href="#get-the-host-name-of-the-system">Get the host-name of the system</a></li>
						<li><a href="#get-the-architecture-of-the-operating-system">Get the architecture of the Operating System</a></li>
						<li><a href="#get-the-name-of-the-operating-system--kernel">Get the name of the Operating System / Kernel</a></li>
						<li><a href="#get-the-current-working-directory">Get the current working directory</a></li>
						<li><a href="#get-the-number-of-seconds-the-script-has-been-running">Get the number of seconds the script has been running</a></li>
						<li><a href="#get-a-pseudorandom-integer">Get a pseudorandom integer</a></li>
					</ul>
				</details>
			<details><summary><b>Information About the Terminal</b><a class="link" href="#information-about-the-terminal"></a></summary>
					<ul>
						<li><a href="#get-the-terminal-size-in-lines-and-columns-from-a-script">Get the terminal size in lines and columns (<em>from a script</em>)</a></li>
						<li><a href="#get-the-terminal-size-in-pixels">Get the terminal size in pixels</a></li>
						<li><a href="#get-the-current-cursor-position">Get the current cursor position</a></li>
					</ul>
				</details>
			<details><summary><b>Conversion</b><a class="link" href="#conversion"></a></summary>
					<ul>
						<li><a href="#convert-a-hex-color-to-rgb">Convert a hex color to RGB</a></li>
						<li><a href="#convert-an-rgb-color-to-hex">Convert an RGB color to hex</a></li>
					</ul>
				</details>
			<details><summary><b>Code Golf</b><a class="link" href="#code-golf"></a></summary>
					<ul>
						<li><a href="#shorter-for-loop-syntax">Shorter <kbd>for</kbd> loop syntax</a></li>
						<li><a href="#shorter-infinite-loops">Shorter infinite loops</a></li>
						<li><a href="#shorter-function-declaration">Shorter function declaration</a></li>
						<li><a href="#shorter-if-syntax">Shorter <kbd>if</kbd> syntax</a></li>
						<li><a href="#simpler-case-statement-to-set-variable">Simpler <kbd>case</kbd> statement to set variable</a></li>
					</ul>
				</details>
			<details><summary><b>Misc</b><a class="link" href="#other"></a></summary>
					<ul>
						<li><a href="#use-read-as-an-alternative-to-the-sleep-command">Use <kbd>read</kbd> as an alternative to the <kbd>sleep</kbd> command</a></li>
						<li><a href="#check-if-a-program-is-in-the-users-path">Check if a program is in the user’s PATH</a></li>
						<li><a href="#get-the-current-date-using-strftime">Get the current date using <kbd>strftime</kbd></a></li>
						<li><a href="#get-the-username-of-the-current-user">Get the username of the current user</a></li>
						<li><a href="#generate-a-uuid-v4">Generate a UUID V4</a></li>
						<li><a href="#progress-bars">Progress bars</a></li>
						<li><a href="#get-the-list-of-functions-in-a-script">Get the list of functions in a script</a></li>
						<li><a href="#bypass-shell-aliases">Bypass shell aliases</a></li>
						<li><a href="#bypass-shell-functions">Bypass shell functions</a></li>
						<li><a href="#run-a-command-in-the-background">Run a command in the background</a></li>
						<li><a href="#capture-the-return-value-of-a-function-without-command-substitution">Capture function return without command substitution</a></li>
					</ul>
				</details>
				<details><summary><b><a class="heading" href="#references-and-further-reading">References and Further Reading</a><a class="link" href="#references-and-further-reading"></a></b></summary></details>
				<details><summary><b><a class="heading" href="#afterword">Afterword</a><a class="link" href="#afterword"></a></b></summary></details>
